// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
.custom-control-label:after,
.custom-control-label:before {
  left: -22px !important;
}
/* Track */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
  border-radius: 4px;
}

.left-sidebar {
  height: 100vh !important;
  overflow-y: scroll;
}
.page-wrapper {
  height: calc(100vh - 64px) !important;
  overflow-y: scroll;
}
