.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #2962ff !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  width: 20px;
  text-align: center;
}
.ck-editor__editable {
  min-height: 300px;
}
.check-toggle-body {
  display: none;
}
.params-sections > div {
  display: none;
}
.multiselect-confirm {
  display: none;
}
